* {
    margin: 0;
    padding: 0;
    font-family: 'Oldenburg', cursive;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

header {
    background: url('../img/background.jpg') center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.reservationButton {
    font-family: 'Oldenburg', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    background: #FFFDD4;
    width: 130px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.reservationButton:hover, .reservationButton:focus, .reservationButton:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
}

.loginButton {
    font-family: 'Oldenburg', cursive;
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 15px;
    font-weight: bold;
    background: none;
    width: 110px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.loginButton:hover, .loginButton:focus, .loginButton:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
}

.main-header {
    height: 60px;
    background-color: #fffee8;
    text-align: center;
}

h1 {
    margin: auto;
    line-height: 100px;
    vertical-align: center;
    border-top: 15px solid black;

}


main {
    background-color: #fffee8;
    margin: 0;
    padding: 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slider img {
    width: 800px;
    height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #FFFDD4;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #FFFDD4;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/*css for automatic navi*/

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid #FFFDD4;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #FFFDD4;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #FFFDD4;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #FFFDD4;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #FFFDD4;
}

footer {
    background-color: #ffecd4;
    height: 90px;

}


.socials-menu ul {
    position: absolute;
    align-items: center;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, 30%);
    display: flex;
}

.socials-menu ul li {
    list-style: none;
    margin: 0 15px;

}

.socials-menu ul li .fab {
    font-size: 30px;
    line-height: 60px;
    transition: 0.6s;
    color: #000;
}

.socials-menu ul li .fab:hover {
    color: #fff;

}

.socials-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fffee8;
    text-align: center;
    transition: 0.6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}

.socials-menu ul li a:hover {
    transform: translate(0, -10px);
}

.socials-menu ul li:nth-child(1) a:hover {
    background-color: #131418;
}

.socials-menu ul li:nth-child(2) a:hover {
    background-color: #CD201F;
}

.socials-menu ul li:nth-child(3) a:hover {
    background-color: #0A66C2;
}

.socials-menu ul li:nth-child(4) a:hover {
    background-color: #1877F2;
}


article{
    background-color: #fffee8;
}

.container1, .container3{
    margin: 150px auto;
    width: 50%;
    padding-top: 10px;
    font-size: 20px;
}

.container1 img, .container3 img{
    float: left;
    width: 400px;
    height: 360px;
    padding: 0 10px 0 0;
}

.container1 .textPanorama, .container3 .textPanorama3{
    text-align: justify;

}

.container2, .container4{
    margin: 150px auto;
    width: 50%;
    padding: 8px;
    font-size: 20px;

}

.container2 img, .container4 img{
    float: right;
    width: 400px;
    height: 360px;
    padding: 0 0 0 10px;
}

.container2 .textPanorama2, .container4 .textPanorama4{
    text-align: justify;
}























