<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>REZERWACJA - rezerwujący</title>

  <link rel="stylesheet" href="/css/guestReservation.css">

</head>
<body>

<div class="filter">

</div>

<div class="step_progressbar">
  <ul>
    <li class="active">DATA</li>
    <li class="active">POKÓJ</li>
    <li class="active">DANE</li>
    <li class="active">POTWIERDZENIE</li>
    <li>KONIEC</li>
  </ul>
</div>

<div class="create">

  <h1>POTWIERDŹ KOD</h1>


  <form>



    <button type="submit" class="createBtn">WERYFIKUJ</button>
  </form>

</div>

</body>
</html>