<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>REZRWACJA - data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="/css/guestReservation.css">


</head>
<body>

<div class="filter">
</div>

<div class="step_progressbar">
    <ul>
        <li class="active">DATA</li>
        <li>POKÓJ</li>
        <li>DANE</li>
        <li>POTWIERDZENIE</li>
        <li>KONIEC</li>
    </ul>
</div>

<div class="create">
    <h1>Podaj termin wizyty</h1>

    <form th:action="@{/roomChoosing}" th:method="post">

        <div class="date_field">
            <p>Od</p>
            <input type="date" class="form-control" name="fromDate"/>
        </div>

        <div class="date_field">
            <p>Do</p>
            <input type="date" class="form-control" name="toDate"/>
        </div>

        <div class="txt_field">
            <p>Liczba osób w pokoju</p>
            <input type="number" class="form-control" name="roomSize" placeholder="0">
        </div>

        <button type="submit" class="btn btn-default">Wybór pokoju</button>

    </form>
</div>

</body>
</html>