<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Guests list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/guests.css">
</head>

<body>

<div class="filter">

</div>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Osoba rezerwujaca</th>
        <th>Osoba niepełnoletnia</th>
        <th></th>
        <th>
            <button class="createButton"><a href="/newguest">Dodaj gościa</a></button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="guest : ${guests}">
        <td th:text="${guest.getId()}"></td>
        <td th:text="${guest.getFirstName()}"></td>
        <td th:text="${guest.getLastName()}"></td>
        <td th:text="${guest.isReservationPerson()}"></td>
        <td th:text="${guest.isUnderEighteen()}"></td>
        <td>
            <button><a th:href="${'/guest/delete/'+guest.getId()}">Usuń</a></button>
        </td>
        <td>
            <button><a th:href="${'/guestUpdateForm/'+guest.getId()}">Edytuj</a></button>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>