<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Overlook Hotel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oldenburg&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/94bbd97cb1.js" crossorigin="anonymous"></script>

</head>
<header>


    <button class="reservationButton"><a href="#" th:href="@{/newreservation}">Rezerwacja</a></button>

    <button class="loginButton"><a href="#" th:href="@{/register}">Rejestracja</a></button>

</header>
<div class="main-header">
    <h1>Widok na Panorame</h1>
</div>
<body>
<main>


     <!--    image slider start-->
    <div class="slider">
        <div class="slides">
<!--            radio buttons start-->
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">
<!--            radio buttons end-->
<!--            sliders images start-->
            <div class="slide first">
                <img src="../img/hall2.jpg" alt="">
            </div>
            <div class="slide">
                <img src="../img/stairs.jpg" alt="">
            </div>
            <div class="slide">
                <img src="../img/outside.jpg" alt="">
            </div>
            <div class="slide">
                <img src="../img/bar.jpg" alt="">
            </div>
<!--            sliders images end-->
<!--            automatic navigation start-->
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
            </div>
<!--            automatic navigation end-->
        </div>
<!--        manual navigation start-->
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
        </div>
<!--        manual navigation end-->
    </div>
    <!--    image slider end-->

    <script type="text/javascript">
        var counter = 1;
        setInterval(function (){
            document.getElementById('radio' + counter).checked=true;
            counter++;
            if (counter > 4){
                counter = 1;
            }
        }, 5000);
    </script>



</main>

<article>

</article>






</body>

<footer>

    <div class="socials-menu">
        <ul>
            <li><a href="https://github.com/marcinh992" target="_blank"><i class="fab fa-github"></i></a> </li>
            <li><a href="https://www.youtube.com/watch?v=t-QsLc2CLN8&list=PLFr4Gn266-7qRksR5XLkxFw0iz-5vYUBR&ab_channel=Pawe%C5%82%C4%86wik" target="_blank"><i class="fab fa-youtube"></i></a> </li>
            <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a> </li>
            <li><a href="https://www.facebook.com/marcin.pypec.79" target="_blank"><i class="fab fa-facebook"></i></a> </li>

        </ul>
    </div>

</footer>
</html>