<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Formularz rejestracji</title>
    <link rel="stylesheet" href="/css/registerForm.css">

</head>
<body>


    <div class="register">

        <h1>Formularz rejestracji</h1>

        <form action="#" method="post" th:action="@{/register}" th:object="${user}">

            <div class="txt_field">
                <p th:errors="*{firstName}">FirstName errors</p>
            <input th:field="*{firstName}" placeholder="Imie"/><br/>
            </div>

            <div class="txt_field">
                <p th:errors="*{lastName}">LastName errors</p>
                <input th:field="*{lastName}" placeholder="Nazwisko"/><br/>
            </div>

            <div class="txt_field">
            <p th:errors="*{email}">Email errors</p>
            <input th:field="*{email}" type="email" placeholder="Email"/><br/>
            </div>

            <div class="txt_field">
            <p th:errors="*{password}">Password errors</p>
            <input th:field="*{password}" type="password" placeholder="Hasło"/><br/>
            </div>

            <input type="submit" value="Zarejestruj"/>

        </form>
    </div>

</body>
</html>