<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add guest</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/guestform.css">

</head>
<body>

<div class="filter">

</div>

<div class="create">
    <form th:object="${reservation}" th:action="@{/reservations}" th:method="post">

        <div class="date_field">
            <p>Od</p>
            <input type="date" class="form-control" th:field="*{fromDate}"/>
            <p th:if="${#fields.hasErrors('fromDate')}" th:errors="*{fromDate}"/>
        </div>
        <div class="date_field">
            <p>Do</p>
            <input type="date" class="form-control" th:field="*{toDate}"/>
            <p th:if="${#fields.hasErrors('toDate')}" th:errors="*{toDate}"/>
        </div>
        <div class="option_field">
            <p>Pokój</p>
            <select th:field="*{room} ">
                <th:block th:each="room : ${listRooms}">
                    <option th:text="${room.number}" th:value="${room.id}"/>

                </th:block>

            </select>
        </div>
        <div class="option_field">
            <p>Gość</p>
            <select th:field="*{guest} ">
                <th:block th:each="guest : ${listGuests}">
                    <option th:text="${guest.firstName}" th:value="${guest.id}"/>

                </th:block>

            </select>


        </div>

            <button type="submit" class="createBtn">Utwórz rezerwację</button>

    </form>
</div>

</body>
</html>