<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REZERWACJA - podsumowanie</title>

    <link rel="stylesheet" href="/css/guestReservation.css">

</head>
<body>

<div class="filter">

</div>

<div class="step_progressbar">
    <ul>
        <li class="active">DATA</li>
        <li class="active">POKÓJ</li>
        <li class="active">DANE</li>
        <li class="active">POTWIERDZENIE</li>
        <li class="active">KONIEC</li>
    </ul>
</div>

<div class="create">

<h3> Na podanego w formularzu maila został wysłany kod weryfikacyjny</h3>

    <form th:action="@{/confirmed}" th:method="post">

        <div class="txt_field">
            <p>Kod weryfikujący</p>
            <input type="text" class="form-control" name="token"/>
        </div>



        <button type="submit" class="btn btn-default">Potwierdz</button>

    </form>


</div>

</body>

</html>