<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservations list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/guests.css">


</head>
<body>

<div class="filter">

</div>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Od</th>
        <th>Do</th>
        <th>ID Pokoju</th>
        <th>Dane Gościa</th>
        <th></th>
        <th>
            <button class="createButton"><a href="/newreservation">Dodaj rezerwacje</a></button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation : ${listReservations}">
        <td th:text="${reservation.getId()}"></td>
        <td th:text="${reservation.getFromDate()}"></td>
        <td th:text="${reservation.getToDate()}"></td>
        <td th:text="${reservation.getRoom().getId()}"></td>
        <td th:text="${reservation.guest} ? ${reservation.guest} : 'REZERWACJA W TOKU!'"></td>
        <td>
            <button><a th:href="${'/reservation/delete/'+reservation.getId()}">Usuń</a></button>
        </td>
        <td>
            <button><a th:href="${'/reservationUpdateForm/'+reservation.getId()}">Edytuj</a></button>
        </td>
    </tr>
    </tbody>
</table>

<div th:if="${totalPages > 1}">

    <div class="row">

        <ul>
            <span th:each="i : ${#numbers.sequence(1, totalPages)}">
               <li><div class="pages"> <a th:if="${currentPage != i }" th:href="@{'/reservationPage/' + ${i}}">[[${i}]]</a></div></li>
               <div class="activePage"><span th:unless="${currentPage != i }">[[${i}]]</span> &nbsp;&nbsp;</div>
            </span>


            <li><div class="paginationButton">
                <a th:if="${currentPage < totalPages}" th:href="@{'/reservationPage/' + ${currentPage + 1}}">Next</a>
                <span th:unless="${ currentPage < totalPages}">Next</span>
            </div></li>

            <li><div class="paginationButton">
                <a th:if="${currentPage < totalPages}" th:href="@{'/reservationPage/' + ${totalPages}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div></li>

        </ul>
    </div>
</div>


</body>
</html>