<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add guest</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}">

    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>

</head>
<body>

<div class="container">


    <h1>Hello room reservation</h1>
    <form class="form-horizontal"  th:action="@{/roomChoosing}" th:method="post">

        <table class="table">
            <thead>
            <tr>
                <td>Numer</td>
                <td>Typ pokoju</td>
                <td>Rodzaje łóżek</td>
                <td>Widok</td>
                <td>Operacje</td>
            </tr>
            </thead>
            <tbody>
            <div class="form-group">
                <tr th:each="room : ${listRooms}">
                    <td th:text="${room.getNumber()}"></td>
                    <td th:text="${room.getRoomType()}"></td>
                    <td th:text="${room.getBeds()}"></td>
                    <td th:text="${room.isPanoramicView()}"></td>
                    <td><a th:href="@{/reservation(room=*{room.id},fromDate=${fromDate},toDate=${toDate})}">Zarezerwuj</a></td>
                </tr>

            </div>
            </tbody>
        </table>



<!--    </form>-->


<!--        <button type="submit" class="btn btn-default">Wybór pokoju</button>-->
<!--    </form>-->




</div>

</body>
</html>