<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Rooms list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/guests.css">


</head>

<body>

<div class="filter">

</div>

<table class="table">
    <thead>
    <tr>
        <th>
            <a th:href="@{'/roomPage/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">ID</a>
        </th>
        <th>
            <a th:href="@{'/roomPage/' + ${currentPage} + '?sortField=roomType&sortDir=' + ${reverseSortDir}}">Typ pokoju</a>
        </th>
        <th>
            <a th:href="@{'/roomPage/' + ${currentPage} + '?sortField=number&sortDir=' + ${reverseSortDir}}">Numer</a>
        </th>
        <th>
            <a th:href="@{'/roomPage/' + ${currentPage} + '?sortField=size&sortDir=' + ${reverseSortDir}}">Rozmiar</a>
        </th>
        <th>
            <a th:href="@{'/roomPage/' + ${currentPage} + '?sortField=beds&sortDir=' + ${reverseSortDir}}">Rodzaje łóżek</a>
        </th>
        <th>
            <a th:href="@{'/roomPage/' + ${currentPage} + '?sortField=panoramicView&sortDir=' + ${reverseSortDir}}">Widok</a>
        </th>
        <th></th>
        <th>
            <button class="createButton"><a href="/newroom">Dodaj pokój</a></button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="room : ${listRooms}">
        <td th:text="${room.getId()}"></td>
        <td th:text="${room.getRoomType()}"></td>
        <td th:text="${room.getNumber()}"></td>
        <td th:text="${room.getSize()}"></td>
        <td th:text="${room.getBeds()}"></td>
        <td th:text="${room.isPanoramicView()}"></td>
        <td>
            <button><a th:href="${'/room/delete/'+room.getId()}">Usuń</a></button>
        </td>
        <td>
            <button><a th:href="${'/roomUpdateForm/'+room.getId()}">Edytuj</a></button>
        </td>
    </tr>
    </tbody>
</table>

<!--Logic for Paging and sorting -->

<div th:if="${totalPages > 1}">

    <div class="row">

        <ul>
<!--            it shows how many rooms is already in database, might be useful later if not can be deleted -->
<!--            <li><div class="">-->
<!--                Pokoi: [[${totalItems}]]-->
<!--            </div></li>-->

            <span th:each="i : ${#numbers.sequence(1, totalPages)}">
               <li><div class="pages"> <a th:if="${currentPage != i }" th:href="@{'/roomPage/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a></div></li>
               <div class="activePage"><span th:unless="${currentPage != i }">[[${i}]]</span> &nbsp;&nbsp;</div>
            </span>


            <li><div class="paginationButton">
                <a th:if="${currentPage < totalPages}" th:href="@{'/roomPage/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${ currentPage < totalPages}">Next</span>
            </div></li>

            <li><div class="paginationButton">
                <a th:if="${currentPage < totalPages}" th:href="@{'/roomPage/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div></li>

        </ul>
    </div>
</div>


</body>
</html>