<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add guest</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="/css/guestReservation.css">


</head>
<body>

<div class="filter">

</div>

<div class="step_progressbar">
    <ul>
        <li class="active">DATA</li>
        <li class="active">POKÓJ</li>
        <li>GOŚĆ</li>
        <li>KONIEC</li>
    </ul>
</div>

<div class="create">


    <h1>Hello room reservation</h1>
    <form class="form-horizontal"  th:action="@{/roomChoosing}" th:method="post">

        <table class="table">
            <thead>
            <tr>
                <th>Numer</th>
                <th>Typ pokoju</th>
                <th>Rodzaje łóżek</th>
                <th>Widok</th>
                <th>Operacje</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="room : ${listRooms}">
                    <td th:text="${room.getNumber()}"></td>
                    <td th:text="${room.getRoomType()}"></td>
                    <td th:text="${room.getBeds()}"></td>
                    <td th:text="${room.isPanoramicView()}"></td>
                    <td><a class="reservBtn" th:href="@{/reservation(room=*{room.id},fromDate=${fromDate},toDate=${toDate})}">Zarezerwuj</a></td>
                </tr>
            </tbody>
        </table>





    </form>




</div>

</body>
</html>