<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rooms list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/guests.css">
</head>

<body>

<div class="filter">

</div>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Typ pokoju</th>
        <th>Numer</th>
        <th>Rodzaje łóżek</th>
        <th>Widok</th>
        <th></th>
        <th>
           <button class="createButton"><a href="/newroom">Dodaj pokój</a></button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.getId()}"></td>
        <td th:text="${room.getRoomType()}"></td>
        <td th:text="${room.getNumber()}"></td>
        <td th:text="${room.getBeds()}"></td>
        <td th:text="${room.isPanoramicView()}"></td>
        <td>
            <button><a th:href="${'/room/delete/'+room.getId()}">Usuń</a></button>
        </td>
        <td>
            <button><a th:href="${'/roomUpdateForm/'+room.getId()}">Edytuj</a></button>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>