<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel obsługi - OVERLOOK</title>
    <link rel="stylesheet" href="/css/staffInterface.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>

<div class="panel-img"></div>
    <div class="panel">
        <button class="btn"><a href="#" th:href="@{/reservations}">REZERWACJE</a></button>
        <button class="btn"><a href="#" th:href="@{/guests}">GOŚCIE</a></button>
        <button class="btn"><a href="#" th:href="@{/rooms}">POKOJE</a></button>
    </div>
</body>
</html>