<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edycja gościa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}">

    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>

</head>
<body>

<div class="container">
    <form class="form-horizontal" th:object="${reservation}" th:action="@{/reservations}" th:method="post">

        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label class="control-label">Od:</label>
            <input type="date" class="form-control" th:field="*{fromDate}"/>
            <p th:if="${#fields.hasErrors('fromDate')}" th:errors="*{fromDate}"/>
        </div>
        <div class="form-group">
            <label class="control-label">Do:</label>
            <input type="date" class="form-control" th:field="*{toDate}"/>
            <p th:if="${#fields.hasErrors('toDate')}" th:errors="*{toDate}"/>
        </div>
        <div class="form-group">
            <label class="control-label">POKÓJ:</label>
            <select th:field="*{room} ">
                <th:block th:each="room : ${listRooms}">
                    <option th:text="${room.number}" th:value="${room.id}"/>

                </th:block>

            </select>
        </div>
        <div class="form-group">
            <label class="control-label">GOŚĆ:</label>
            <select th:field="*{guest} ">
                <th:block th:each="guest : ${listGuests}">
                    <option th:text="${guest.firstName}" th:value="${guest.id}"/>

                </th:block>

            </select>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-default">Edytuj rezerwację</button>
        </div>
    </form>
</div>

</body>
</html>