<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edycja pokój</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/guestform.css">

</head>
<body>

<div class="filter">

</div>

<div class="create">

    <h1>EDYCJA POKOJUa</h1>


    <form th:object="${room}" th:action="@{/rooms}" th:method="post">

        <input type="hidden" th:field="*{id}"/>

        <div class="txt_field">
            <p>Numer pokoju</p>
            <input type="text" class="form-control" th:field="*{number}"/>
            <p th:if="${#fields.hasErrors('number')}" th:errors="*{number}"/>
        </div>

        <div class="option_field">
            <p>Rodzaje łóżek w pokoju</p>

            <select th:field="*{beds}">
                <option th:each="bedOpt : ${T(pl.overlook.springhotelreservation.domain.room.BedType).values()}"
                        th:value="${bedOpt}" th:text="${bedOpt}"></option>

            </select>
            <select th:field="*{beds}">
                <option th:each="bedOpt : ${T(pl.overlook.springhotelreservation.domain.room.BedType).values()}"
                        th:value="${bedOpt}" th:text="${bedOpt}"></option>

            </select>
            <select th:field="*{beds}">
                <option th:each="bedOpt : ${T(pl.overlook.springhotelreservation.domain.room.BedType).values()}"
                        th:value="${bedOpt}" th:text="${bedOpt}"></option>

            </select>
        </div>

        <div class="option_field">
            <p>Rodzaj pokoju</p>
            <select th:field="*{roomType}">
                <option th:each="roomType : ${T(pl.overlook.springhotelreservation.domain.room.RoomType).values()}"
                        th:value="${roomType}" th:text="${roomType}"></option>
            </select>
        </div>


        <div class="checkbox">
            <p>Widok z pokoju</p>
            <input type="checkbox" th:field="*{panoramicView}" th:value="${room.panoramicView}"/>
            <p th:if="${#fields.hasErrors('panoramicView')}" th:errors="*{panoramicView}"/>
        </div>


            <button type="submit" class="createBtn">Edytuj pokój</button>

    </form>
</div>

</body>
</html>